<ion-header>
  <ion-toolbar>
    <ion-title>Perfil: Gerente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row>
    <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="3">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ferramentas</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-button color="danger" expand="full" (click)="exibeAlertaLimparFila()">
            Limpar fila
          </ion-button>

          <ion-button color="tertiary" expand="full" (click)="exibeAlertaZerarSenha()">
           Zerar Senha
          </ion-button>

          <ion-button expand="full" color="primary" (click)="chamarProximaSenha()" >
            Chamar próximo
          </ion-button>


        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size-xs="12" size-sm="12" size-md="5">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Atendimento</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
         <div *ngFor="let senhaAtiva of senhasAtivas">
          <h1>
            Chamando: {{senhaAtiva.tipo}}:
            {{(senhaAtiva.tipo === 'PREFERENCIAL')? 'P' : 'N' }}
            {{senhaAtiva.posicao |number: '3.0-0'}}
          </h1>

          <ion-button color="danger" (click)="cancelarSenha(senhaAtiva)">
            Cancelar
          </ion-button>
          <ion-button color="primary" (click)="chamarProximaSenha()" >
             <ion-icon name="notifications-outline"></ion-icon>
             Chamar novamente
          </ion-button>
          <ion-button color="success" (click)="finalizaAtendimento(senhaAtiva)">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            Finalizar Atendimento
          </ion-button>
         </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size-xs="12" size-sm="12" size-md="4">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Fila</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let senha of filaSenhas" [color]="(senha.status === 'EM_ATENDIMENTO')?'success':(senha.tipo==='PREFERENCIAL')?'danger':'primary' ">
              <ion-icon *ngIf="senha.tipo === 'PREFERENCIAL'" name="accessibility-outline"></ion-icon>
              <ion-icon *ngIf="senha.tipo !== 'PREFERENCIAL'" name="footsteps-outline"></ion-icon>
              {{(senha.status === 'EM_ATENDIMENTO')?'EM ATENDIMENTO':senha.tipo}}:
              {{(senha.tipo === 'PREFERENCIAL')? 'P' : 'N' }}
              {{senha.posicao |number: '3.0-0'}}
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>


    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
