<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Solicitação Atendimento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bem vindo {{clienteService.clienteAtivo.nome}}!</ion-card-subtitle>
      <ion-card-title>Minhas Senhas </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let senha of clienteSenhas" [color]="(senha.status === 'EM_ATENDIMENTO')?'success':'dark'" style="font-weight: bold">
         <span style="font-size: 14pt">

           {{(senha.tipo === 'PREFERENCIAL')? 'P' : 'N' }}
           {{senha.posicao |number: '3.0-0'}}
           <br>
           {{(senha.status === 'EM_ATENDIMENTO')? 'Dirija-se ao atendente':'' }}
         </span>
         <ion-icon (click)="deleteClienteSenha(senha)" slot="end" name="trash-outline" size="large">
            <ion-ripple-effect></ion-ripple-effect>
         </ion-icon>
       </ion-item>

        <span *ngIf=" clienteSenhas.length === 0">
         Você ainda não retirou nenhuma senha
         <ion-button color="danger" expand="full" (click)="novaSenhaPrioritario()">Atendimento Preferêncial</ion-button>
         <ion-button expand="full" (click)="novaSenhaNormal()">Atendimento Normal</ion-button>
       </span>

      </ion-list>

    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Fila de Atendimento:</ion-card-subtitle>
      <ion-card-title> {{filaSenhas.length }} pessoa(s) na fila</ion-card-title>
    </ion-card-header>

    <ion-card-content>
       <ion-list>
        <ion-item *ngFor="let senha of filaSenhas" [color]="(senha.status === 'EM_ATENDIMENTO')?'success':(senha.tipo==='PREFERENCIAL')?'danger':'primary' ">
          <ion-icon *ngIf="senha.tipo === 'PREFERENCIAL'" name="accessibility-outline"></ion-icon>
          <ion-icon *ngIf="senha.tipo !== 'PREFERENCIAL'" name="footsteps-outline"></ion-icon>
          {{(senha.status === 'EM_ATENDIMENTO')?'EM ATENDIMENTO':senha.tipo}}:
           {{(senha.tipo === 'PREFERENCIAL')? 'P' : 'N' }}
           {{senha.posicao |number: '3.0-0'}}
        </ion-item>
       </ion-list>

      </ion-card-content>
  </ion-card>

</ion-content>
