<ion-content>
  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center ion-text-center" style="background-color: #4c8dff;color: #d0f3ff">
      <ion-col>
        <span style="font-size: 40pt">Painel de Atendimento</span>

      </ion-col>
    </ion-row>

    <ion-row style="height: 100%">
      <ion-col style="background-color: #c1ddff; min-height: 25%" size-xs="12" size-sm="12" size-md="8" size-lg="8" class="ion-align-items-center ion-text-center">
        <ion-row style="height: 30%"></ion-row>
        <ion-row>
         <ion-col size="3">
         </ion-col>
         <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">
           <div style="font-size: 100pt; font-weight: bold; background-color: #2dd36f; width: 100%;">
             Senha <br>
             {{(senhaEmAtendimento.tipo === 'PREFERENCIAL')? 'P' : 'N' }}
             {{senhaEmAtendimento.posicao |number: '3.0-0'}}
           </div>
         </ion-col>
       </ion-row>
      </ion-col>

      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
       <ion-button *ngIf="playSound" (click)="changeSoundStatus()">
         <ion-icon name="volume-medium-outline" size="large"></ion-icon>
       </ion-button>
       <ion-button color="danger" *ngIf="!playSound" (click)="changeSoundStatus()">
         <ion-icon name="volume-mute-outline" size="large"></ion-icon>
       </ion-button>

        <ion-list>

            <ion-item color="light">
             <h1> Próximas senhas: </h1>
            </ion-item>

          <ion-item *ngFor="let senha of filaSenhas" [color]="(senha.status === 'EM_ATENDIMENTO')?'success':(senha.tipo==='PREFERENCIAL')?'danger':'primary' " lines="full" style="font-weight: bold">
            <ion-icon *ngIf="senha.tipo === 'PREFERENCIAL'" name="accessibility-outline"></ion-icon>
            <ion-icon *ngIf="senha.tipo !== 'PREFERENCIAL'" name="footsteps-outline"></ion-icon>
            {{(senha.status === 'EM_ATENDIMENTO')?'EM ATENDIMENTO':senha.tipo}}:
            {{(senha.tipo === 'PREFERENCIAL')? 'P' : 'N' }}
            {{senha.posicao |number: '3.0-0'}}
          </ion-item>
        </ion-list>


      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer>
 <ion-grid>
   <ion-row>
     <ion-col size="12" style="background-color: #5f7888; height: 30pt" >

     </ion-col>
   </ion-row>
 </ion-grid>
</ion-footer>
